<div {{ attributes }} 
    data-poll="delay(500)|$render"
>
    Nombre de Points <input
        type="search"
        data-model="number"
    ><input
        type="range"
        class="form-range"
        id="number"
        data-model="number"
        min="1"
        max="{{ computed.maxPoints }}"
    >
    <div class="chart-container col-md-12" style="position: relative; width: 100%;">
        {{ render_chart(computed.chart) }}
    </div>
</div>
