{% extends "base.html.twig" %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h1>Administration</h1>

    <p>Félicitations, vous avez accès à un compte administarteur</p>    
{% endblock %}