{% extends "base.html.twig" %}

{% block title %}Capteur DS18B20{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header"><h1>Capteur DS18B20</h1></div>
                <div class="card-body">{{ component('DS18B20Chart') }}</div>
            </div>
        </div>
    </div>
{% endblock %}